@model ProductViewModel

@{
    var popularClass = Model.Products.Count > 1 ? "popular" : "";
    var products = Model.Products;
    var categoryName = Model.Category.Name;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <style>
        .popular {
            color: green;
            font-weight: 700;
        }
    </style>
</head>

<body>
    <h1 class="@popularClass">@categoryName</h1>

    @if (Model.Products.Count == 0)
    {
        // ürün yok
    }
    else
    {
        <ul>
            @foreach (var item in products)
            {
                <div>
                    <li>
                        <p>@item.Name</p>
                        <p>@item.Price</p>
                        <p>@item.Description</p>
                    </li>
                </div>
                <hr>
            }
        </ul>
    }


</body>

</html>